services:
  db:
    image: postgres:16-alpine
    container_name: zentask-db
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: zentask_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
  app:
    build: 
      context: .
      dockerfile: Dockerfile
    container_name: zentask-app
    restart: always
    ports:
      - "3000:3000"
    environment:
      - DATABASE_URL=postgresql://user:password@db:5432/zentask_db
    depends_on:
      - db
volumes:
  postgres_data: